html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.form-content {
  display: flex;
  justify-content: center;
  margin: 50px 0 30px;
}

.input-text {
  margin-right: 10px;
  text-indent: 5px;
}

.images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 50px;
}

.image {
  width: 25%;
  margin: 5px;
}
